# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
.venv/
venv/
ENV/

# IDE specific files
.vscode/
.idea/
.DS_Store
